html,body{margin:0;padding:0}



html{
  font-family: Arial, Helvetica, sans-serif;
  font-size:16px;
  line-height:1.5;

  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* @media (min-width: 83em){html{font-size:20px}} */


/* img{display:block;border-radius:5px} */

h1,h2,h3,h4,h5,h6{margin-bottom:.5rem;font-weight:600;line-height:1.25;color:#313131;text-rendering:optimizeLegibility}
h1{font-size:2rem}h2{margin-top:1rem;font-size:1.5rem}
h3{margin-top:1.5rem;font-size:1.25rem}
h4,h5,h6{margin-top:1rem;font-size:1rem}
p{margin-top:0;margin-bottom:1rem}
/* ul,ol,dl{margin-top:0;margin-bottom:1rem} */


/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 3rem;
  background: rgba(0,0,0,0.4);
  font-size: 0.8rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  padding-bottom: 1.4rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  margin: auto;
  padding-top: 0.3rem;
  padding-bottom: 1rem;
}

.navbar ul li a:hover {
  color: #7A917C;
}

/*  */
/* .Navbar {
  background-color: rgba(0,0,0,0);
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: white;
  position: fixed;
}

.Navbar__Link {
  padding-right: 8px;
}

.Navbar__Items {
  display: flex;
}

.Navbar__Link-toggle {
  display: none;
} */

/* .Navbar__Items,
.Navbar {
  flex-direction: column;
  background-color: rgba(0,0,0,0);
  align-content: flex-end;
  padding: 16px;
  color: white;
}
  
.Navbar__Items {
  display:none;
}
  
.Navbar__ToggleShow {
  display: flex;
}
  
.Navbar__Link-toggle {
  background-color: rgba(0,0,0,0);
  align-self: flex-end;
  display: initial;
  position: absolute;
  cursor: pointer;
  }  */



/* HOME */
#home {
  background: url('https://images.pexels.com/photos/7283/garden.jpg?cs=srgb&dl=pexels-creative-vix-7283.jpg&fm=jpg') no-repeat center center/cover;
  box-shadow:inset 0 0 0 2000px rgba(74, 90, 62, 0.7);
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: #fff

}
#home h1{
  font-size: 4rem;
  color: #fff;
}

#home p {
  font-size: 1.5rem;
}

.mobile-image {
  display: flex;
  justify-content: center;
}

.mobile-image img {
  margin-top: 10rem;
  width: 40%;
  border-radius: 50%;
}

@media (max-width: 600px){
  #home {
    height: 80vh;
  }
  .mobile-image {
    display:flex;
    justify-content: center;
  }
  .mobile-image img {
    width: 50%;
    border-radius: 50%;
  }

  .about-section {
    display: inline-block;
  }

  .image-wrapper {
    display:none;
  }

  /* .text-wrapper {
    width: 100%;
  } */
}


/* SECTIONS */
.section-title-light{
  font-size:2rem;
  text-transform:uppercase;
  color:#fff;
  z-index:1;
  line-height:1em;
  padding:0.1em 0 0.75em 0;
  font-weight:900;
}

.section-title-dark{
  font-size:2rem;
  text-transform:uppercase;
  color:#4A5A3E;
  z-index:1;
  line-height:1em;
  padding:0.1em 0 0.75em 0;
  font-weight:900;
}

.container{
  max-width:50rem;
  padding-left:1.5rem;
  padding-right:1.5rem;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  overflow: visible;
}

.extended-details{font-size:15px;line-height:30px}
.extended-details.dark{color:#000}
.extended-details{
    max-height:0;
    opacity:0;
    transition:max-height 1s ease;
    transition:all 0.5s ease;
    overflow: visible;
}


/* ABOUT */
.about-section{
  display: flex;
  align-items: flex-start;
  background-color:#FFF;
  position:relative;
  padding:7em 0 7em 0;
}

/* .about-wrapper {
  display:flex;
  align-items: flex-start; */
  /* height: 30vh; */
/* } */

.text-wrapper {
  width: 60%;
}

.image-wrapper {
  width: 40%;
  object-fit: cover;
}

.image-wrapper img{
  width: 100%; 
  height: 100%; 
  border-radius: 50%;
  /* object-fit: contain;  */
  object-fit: cover;
}

.social-container{
  height:130px
}

.social{
  float:left;
  padding-right:50px;
  opacity:0.4;
  padding-bottom:50px
}

.social-icon{
  color: grey;
  width: 40px;
}

/* @media (max-width: 600px){
  .about-section{
    display: block;
  }
  .about-wrapper {
    display: block;
    align-content: center;
    text-align: center;
  }
  .text-wrapper {
    width: 100%;
  }
} */


/* BERUFSERFAHRUNG */
.experience-section {
  padding:7em 0 7em 0;
  background-color: #4A5A3E;
  justify-content: center;
}

.job-subsection{
  position:relative;
  padding:1.5em 0 1.5em 0;
  border-bottom:1px solid #fff;
  color: #fff
}

.job-subsection.last{
  border-bottom:0px solid #fff;
}

.job-date{
  font-size:0.7em;
  font-weight:600;
  color:#fff;
  top:1.5em;
  position:absolute;
  right:0;
  padding-top:8px;
}

.job-company{
  font-weight:700;
  opacity:0.8;
  font-size:1em;
}

.job-position{
  font-weight:500;
  color:#fff;
  font-size:0.85em;
  padding-top:0.5em}

.job-subsection:hover>.extended-details,
.job-subsection:active>.extended-details{
  margin-top:30px;
  max-height:500px;
  opacity:0.7;
  -webkit-transition:max-height 1s ease;
  -moz-transition:max-height 1s ease;
  -o-transition:max-height 1s ease;
  transition:max-height 1s ease;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease
}


/* AUSBILDUNG */
.education-section {
  padding:7em 0 7em 0;
  background-color: #fff;
  justify-content: center;
}

.edu-subsection{
  position:relative;
  padding:1.5em 0 1.5em 0;
  border-bottom:1px solid #4A5A3E;
  color: #4A5A3E
}

.edu-subsection.last{
  border-bottom:0px solid #4A5A3E;
}

.edu-date{
  font-size:0.7em;
  font-weight:600;
  color:#4A5A3E;
  top:1.5em;
  position:absolute;
  right:0;
  padding-top:8px;
}

.edu-school {
  font-weight:700;
  opacity:0.8;
  font-size:1em;
  padding-right: 6.5rem;
}

.edu-position{
  font-weight:500;
  color:#4A5A3E;
  font-size:0.85em;
  padding-top:0.5em}

.edu-subsection:hover>.extended-details,
.edu-subsection:active>.extended-details{
  margin-top:30px;
  max-height:500px;
  opacity:0.7;
  -webkit-transition:max-height 1s ease;
  -moz-transition:max-height 1s ease;
  -o-transition:max-height 1s ease;
  transition:max-height 1s ease;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease
}


/* ARBEITSPROBEN */
.samples-section {
  padding:7em 0 7em 0;
  background-color: #7A917C;
  color: #fff;
  justify-content: center;
}

.samples-subsection{
  position:relative;
  padding:1.5em 0 1.5em 0;
  border-bottom:1px solid #fff;
  color: #fff
}

.samples-subsection.last{
  border-bottom:0px solid #fff;
}

.samples-title {
  font-weight:700;
  opacity:0.8;
  font-size:1em}

.samples-subsection:hover>.extended-details,
.samples-subsection:active>.extended-details{
  margin-top:30px;
  max-height:500px;
  opacity:0.7;
  -webkit-transition:max-height 1s ease;
  -moz-transition:max-height 1s ease;
  -o-transition:max-height 1s ease;
  transition:max-height 1s ease;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease
}


/* ARBEITSPROBEN - MODALS */

:root {
  --modal-duration: 1s;
  --modal-color: #fff;
}

.button {
  background: #4A5A3E;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.extended-details a {
  text-decoration: none;
}

.button:hover {
  background: #fff;
  color: #4A5A3E;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 1);
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: var(--modal-color);
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  height: 60vh;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal-footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



